@model DSA_Tracker.Models.Problem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Problem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProblemId" />
            <div class="form-group">
                <label asp-for="ProblemUrl" class="control-label"></label>
                <input asp-for="ProblemUrl" class="form-control" />
                <span asp-validation-for="ProblemUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProblemName" class="control-label"></label>
                <input asp-for="ProblemName" class="form-control" />
                <span asp-validation-for="ProblemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProblemNumber" class="control-label"></label>
                <input asp-for="ProblemNumber" class="form-control" />
                <span asp-validation-for="ProblemNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolutionUrl" class="control-label"></label>
                <input asp-for="SolutionUrl" class="form-control" />
                <span asp-validation-for="SolutionUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>


          <div class="form-group">
                <label asp-for="Companies" class="control-label"></label>
                <input asp-for="Companies" class="form-control" />
                <span asp-validation-for="Companies" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NeedToRepeat" /> @Html.DisplayNameFor(model => model.NeedToRepeat)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="DifficultyLevel" class="control-label"></label>
                <select asp-for="DifficultyLevel"  asp-items="Html.GetEnumSelectList<DifficultyLevels>()"></select>
                <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="Platform" class="control-label"></label>
                <select asp-for="Platform"  asp-items="Html.GetEnumSelectList<Platforms>()"></select>
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
